
.ORBIS\.ColorfulOptionset .ComboBox{  
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none; 
    -o-appearance: none; 
    appearance: none;   
    border: 1px solid transparent;    
    outline-color: transparent; 
    outline-width: 0;
    outline-style: none;   
    box-shadow: none;
}

.ORBIS\.ColorfulOptionset .ComboBox .option{          
    text-align: left;
    line-height: 30px;    
}

.ORBIS_ColorfulOptionset_item{    
    display: inline-flex;   
    line-height:14px;   
} 

