.ORBIS\.ColorfulOptionset {
    outline: none;
}

.ORBIS\.ColorfulOptionset :focus {
    outline: none;
}

/*
.ORBIS\.ColorfulOptionset .ComboBoxMain  div {
    border-color: transparent;
}

.ORBIS\.ColorfulOptionset .ComboBox >div > span {
    border-color: transparent;
}

.ORBIS\.ColorfulOptionset .ComboBox >div > span > i {
    color: transparent;
}
*/



.ORBIS\.ColorfulOptionset .option {
    float:left;
    display: flex;
}

.ORBIS\.ColorfulOptionset .option > span
{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   min-width: 0;
}

.ORBIS\.ColorfulOptionset .colorIcon {
    margin-right: 8px;
    flex: 1;
}



.ORBIS\.ColorfulOptionset .ComboBoxMain{    
    background: transparent;  
    color: #000000; 
    font-family: 'SegoeUI', 'Segoe UI'; 
    font-size: 1.0rem;         
}

.ORBIS\.ColorfulOptionset .ComboBox{
   border-color: transparent!important;
    border-style: none; 
    border: 1px solid #ffffff;          
    font-weight: 600; 
}


.ORBIS\.ColorfulOptionset .ComboBox i{  
    color:transparent;
}



.ORBIS\.ColorfulOptionset .ComboBoxFocused{  
    border: 1px solid #a9a9a9;  
    font-weight:400;    
}

.ORBIS\.ColorfulOptionset .ComboBoxFocused i {  
    color: #000000; 
}

.ORBIS\.ColorfulOptionset .ComboBoxClicked{  
    border: 1px solid #a9a9a9; 
    font-weight:400;      
}

.ORBIS\.ColorfulOptionset .ComboBoxClicked i {  
    color: #000000; 
}
